<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #searchForm="ngForm" (ngSubmit)="onSearchEntry(searchForm.value)">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            ngModel
            name="name"
          />
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!searchForm.valid"
        >Search</button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedEntries.length < 1 && !isFetching">No entries available!</p>
      <ul class="list-group" *ngIf="loadedEntries.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let entry of loadedEntries">
          <h3>{{ entry.name }}</h3>
          <p>{{ entry.phoneNumber }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
        <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
      </div>
    </div>
  </div>
</div>

